body {
    background-color: silver;
    font-family: "Audiowide", sans-serif;
    margin-left: 0%;
    margin-right: 0%;
}
.headingOne {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 0;
    background-color: rgba(34, 34, 34, 0.445);
    margin-top: 0%;
}
.containerOfButtons {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-around;
    height: 7em;
    padding: 2.5em;    
}

.buttonRock,
.buttonPaper,
.buttonScissors  {
    size: auto;
    border-radius: 5%;
    border-width: 3px;
}
button:hover
{
    opacity: 1;
    background-color: #99a8a6;
    border: 1px #99ccff solid;
}
.buttonRock:active
{
    background-color: blue;
    border: 1px #000000 solid;
}
.buttonPaper:active {
    background-color: green;
    border: 1px #000000 solid;
}
.buttonScissors:active {
    background-color: red;
    border: 1px #000000 solid;
}
#rock,
#paper,
#scissors {
    width: 100px;
}
.containerOfChoices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#winner {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 2em;
    gap: 2em;
    margin-left: 20%;
    margin-right: 20%;
}
.scoreboard {
    display: flex;
    justify-content: center;
    padding: 2em;
}
.result {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#footer {
    display: flex;
    justify-content: center;
}