body {
    background-color: ghostwhite;
}
.headingOne {
    display: flex;
    justify-content: center;
    padding: 1em;
    border-style: outset;
    margin-bottom: 0;
    
}
.containerOfButtons {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content:space-around;
    height: 8em;
    border-style: outset;
    
}

.buttonRock,
.buttonPaper,
.buttonScissors  {
    size: auto;
    border-radius: 5%;
    border-width: 3px;
}
button:hover
{
    opacity: 1;
    background-color: #99a8a6;
    border: 1px #99ccff solid;
}
.buttonRock:active
{
    background-color: blue;
    border: 1px #000000 solid;
}
.buttonPaper:active {
    background-color: green;
    border: 1px #000000 solid;
}
.buttonScissors:active {
    background-color: red;
    border: 1px #000000 solid;
}
#rock,
#paper,
#scissors {
    width: 100px;
}
.containerOfChoices {
    display: flex;
    flex-direction: column;
    border-style: outset;
    padding: 1em;
}
.result {
    display: flex;
    border-style: outset;
    justify-content: center;

}
.announceWinner {
    display: flex;
    border-style: outset;
    padding: 1em;
}